@model YtsModel

@{
    ViewData["Title"] = (!string.IsNullOrEmpty(Model.Query) ? Model.Query + " - " : "") + "YTS";
}

<h1>YTS</h1>

<form method="get">
    <input asp-for="Query" placeholder="Search" />
    <button>Go</button>
</form>

@if (Model.ResponseData.Any())
{
    <table class="table table-bordered">
        @foreach (var item in Model.ResponseData)
        {
            <tr>
                <td style="max-width: 15px"><img src="@item.img" /></td>
                <td><a data-href="@item.urlStripped" href="#" onclick="getDetails(this);return false;">@item.title<br />@item.year</a></td>
            </tr>
        }
    </table>
}

<div id="responseModalContent">
</div>

<script type="text/javascript">
    // /home/ytsdetails?path=
    async function getDetails(obj){
        var urlPart = obj.dataset["href"];
        var url = "/home/ytsdetails?path=" + encodeURIComponent(urlPart);
        var response = await fetch(url).then(res => res.text());
        document.querySelector("#responseModalContent").innerHTML = response;
    }
</script>

<style>
    .modal-content {
        display: inline-block;
    }
    .modal-torrent{
        display: inline-block;
        margin-right: 50px;
    }
</style>