*.dll
*.pdb
*.exe
*.cache
*.suo
*exe*
*FileListAbsolute.txt
.gitignore
*/.vs/*
*/obj/*
*/bin/*
*/obj
*/bin
obj/*
bin/*
obj
bin
/GameProject/GameProject/Assets
/CasualConsole/PicrossSolver/obj
/CasualConsole/PicrossSolver/bin
/CasualConsole/TorrentSeedLeechCounter/obj
/CasualConsole/CasualConsole/obj
/CasualConsole/CasualConsole/bin
/CasualWebSite/packages
/CasualWebSite/SharePointMvc/Content/image
/ConsoleApplication1/Debug
/ConsoleApplication1/x64
/ConsoleApplication1/ConsoleApplication1/Debug
/ConsoleApplication1/ConsoleApplication1/x64
/ConsoleApplication1/ipch
/CasualWebSite/SharePointMvc/Properties/PublishProfiles/website.pubxml.user
/CasualConsole/packages
/CasualConsole/PicrossSolver/yapılacak.txt
