<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CTARepository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <CTARepository.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value/>
      </setting>
    </CTARepository.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="StartingMonthColumn" value="7"/>
    <add key="CategoryHeadingColumn" value="1"/>
    <add key="asdas" value="valchanged"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
