@model string

@{
    ViewBag.Title = "GetAnimeNewsCookie";
}

<h2>GetAnimeNewsCookie</h2>

<form action="GetAnimeNewsCookie" method="post">
    <input placeholder="Value" name="value" value="@Model" />
    <button>Set Cookie</button>
</form>